<div class="background">
  <div class="container">
    <div class="header">
      Users list
    </div>
    <ul *ngIf="users" class="users">
      <li *ngFor="let user of this.users.data" class="user">
        <div class="user--group">
          <img src="{{user.avatar}}" class="user__avatar">
          <span class="user__name"> {{user.first_name}} {{user.last_name}}</span>
        </div>
        <div class="user--group">
          <span class="user__id"> id: {{user.id}}</span>
          <button class="user__details">
            View details
            <i class="user__details--down"> ^ </i>
          </button>
          <input class="user__add" type="button" value="Add this user">
        </div>
      </li>
    </ul>
  </div>
</div>
